@import 'var';
@import 'mixin';

@include mobile {
}
@include tablet {
}
@include desktop {
}

#dust {
  text-align: center;
  img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  &.grade-1 {
    background: rgb(3, 116, 184);
    background: linear-gradient(180deg, rgba(3, 116, 184, 1) 0%, rgba(3, 116, 184, 0.6) 50%, rgba(255, 255, 255, 1) 100%);
  }
  &.grade-2 {
    background: rgb(1, 148, 161);
    background: linear-gradient(180deg, rgba(1, 148, 161, 1) 0%, rgba(1, 148, 161, 0.6) 70%, rgba(255, 255, 255, 1) 100%);
  }
  &.grade-3 {
    background: rgb(233, 105, 2);
    background: linear-gradient(180deg, rgba(233, 105, 2, 1) 0%, rgba(233, 105, 2, 0.6) 70%, rgba(255, 255, 255, 1) 100%);
  }
  &.grade-4 {
    background: rgb(194, 40, 39);
    background: linear-gradient(180deg, rgba(194, 40, 39, 1) 0%, rgba(194, 40, 39, 0.6) 70%, rgba(255, 255, 255, 1) 100%);
  }
}

#dust {
  .grade-view {
    height: 40vh;
  }
  .timeline-view {
    height: 36vh;
    padding: 2%;
    margin: 2vh 5%;
  }
}

.grade-view {
  .status-img {
    height: 20vh;
    img {
      height: 100%;
    }
  }
  .status-wrap {
    padding: 2%;
    margin: 0 5%;
    max-height: 20vh;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    text-shadow: 2px 2px 2px #aaa;
    line-height: 1.5;
    .status-txt {
      font-weight: bold;
      font-size: $font-size-extra-large;
    }
    .status-display {
      display: flex;
      align-items: center;
      justify-content: center;
      > div,
      > div span {
        font-size: $font-size-extra;
      }
      > div {
        margin: 0 10px;
      }
      > div span {
        margin: 0 5px;
      }
    }
    .status-station,
    .status-station * {
      font-size: $font-size-large;
    }
    .status-station strong {
      margin-right: 2px;
    }
  }
}

.timeline-view {
  overflow-y: auto;
  border-radius: 30px 30px 0 0;
  background: rgba(255, 255, 255, 0.7);
  .dust-timeline {
    li {
      margin: 1%;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #0474b8;
        &.dust-grade2 {
          background: #0194a1;
        }
        &.dust-grade3 {
          background: #e96902;
        }
        &.dust-grade4 {
          background: #c22827;
        }
      }
    }
  }
}

#forecast {
  .title {
    color: #666;
  }
  .info-display {
    height: 50vh;
    text-align: center;
    img {
      height: 100%;
    }
  }
  .info-grade,
  .info-overall,
  .controller {
    margin: 5%;
    line-height: 1.5;
  }
  .controller {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }
  #btn {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    // play state
    border-style: solid;
    border-width: 10px 0 10px 15px;

    &.paused {
      border-style: double;
      border-width: 0px 0 0px 15px;
    }

    &:hover {
      border-color: transparent transparent transparent #404040;
    }
  }
}
