header {
  height: 5vh;
  .tab-nav {
    width: 100%;
    height: 100%;
  }
  .tab-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }
}

#container {
  position: relative;
  height: 90vh;
  section {
    overflow: hidden;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: $font-size-title;
    text-align: center;
    color: #fff;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background: #eee;
  p {
    font-size: $font-size-small;
    color: #888;
  }
}
